/* Секція */
.categories {
  padding: 64px 0 64px 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  background-color: transparent;
}

/* Контейнер шириною 1200px */
.container_categories {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

/* Заголовок секції */
.heading {
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 48px;
  color: #000;
}

/* Обгортка для каруселі та стрілок */
.carouselWrapper {
  position: relative;
}

/* Карусель з горизонтальним скролом */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 24px;
  background-color: transparent;
  scroll-behavior: smooth;
}

/* Приховати скролбар */
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Картка категорії */
.card {
  flex: 0 0 282px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1),
    -2px 12px 12px 0 rgba(0, 0, 0, 0.09), -4px 26px 16px 0 rgba(0, 0, 0, 0.05),
    -8px 46px 19px 0 rgba(0, 0, 0, 0.01), -12px 72px 20px 0 rgba(0, 0, 0, 0);
  box-sizing: border-box;
  scroll-snap-align: start;
  position: relative;
}
/* бейдж */
.badgeNew {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #e60023;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  padding: 6px 16px;
  width: 61px;
  height: 33px;
  z-index: 5;
  text-transform: uppercase;
}

.badgeHit {
  position: absolute;
  top: 12px;
  right: 80px;
  background-color: #e60023;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  padding: 6px 16px;
  width: 61px;
  height: 33px;
  z-index: 5;
  text-transform: uppercase;
}

/* Зображення */
.image {
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 282px;
  background: #d5d5d5;
  margin-bottom: 24px;
  overflow: hidden;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Контейнер для назви та кнопки */
.p_b {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 14px;
}

/* Назва категорії */
.categoryName {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 8px;
}

/* Іконка магазину */
.shopIcon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
}

/* Стрілки прокрутки */
.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.arrowLeft {
  left: -40px;
}

.arrowRight {
  right: -40px;
}

.arrowIcon {
  width: 17px;
  height: 32px;
}

.shopButton {
  border: none;
  cursor: pointer;
  background-color: #d5d5d5;
  border-radius: 300px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCount {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #909090;
}

.productPrice {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #000;
  transition: color 0.3s ease;
}

.price_shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.updated {
  color: red;
}

.oldPrice {
  font-weight: 300;
  font-size: 16px;
  text-decoration: line-through; /*перекреслення тексту */
  color: #909090;
}

.newPrice {
  font-weight: 300;
  font-size: 18px;
  color: #252323;
}
